doctype 5
html(lang="en")
  head
    title Sign Up
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="/js/signup.js")
    link(href="css/bootstrap.css",rel="stylesheet")
    link(href="css/hospitaldescription1.css",rel="stylesheet")
    link(href="css/bootstrap-responsive.css",rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Roboto:300", rel="stylesheet", type="text/css")
  body
    div(id="navBarContainer")
      div(id="navBarTitle") mediscout
    div(class="inputContainer2")
      div(id="searchResultLabel") Search Result Here
    div(class="descriptionContainer")
        div(class="cellHeader", id="hospitalName") Hospital X
        div(class="columnContainer")  
          div(class="columnLeft")
            div(class="columnHeader") Avg Cost Here:
            div(class="priceInColumn") $334
          div(class="columnRight")
            div(class="columnHeader") Avg Cost in Chicago:
            div(class="priceInColumn") $9238
        
    div(class="descriptionContainer")
      div(class="descriptionTextContainer")
        div(class="distanceFrom") Distance from you: 4.5m
        div(class="descriptionText") Full Address
        div(class="descriptionText") Phone Number
        div(class="descriptionText") 
          a(href="some url") Web URL
      div(class="hospitalImage")
        img(src="/img/University_College_Hospital_-_New_Building_-_London_-_020504.jpg")
    div(class="descriptionContainer")
      div(class="descriptionTextContainer")
        div(class="doctorCategory") Urologists who practice here:
        div(class="doctorInfoTextContainer")
          div(class="doctorPhone")
          div(class="doctorName") Dr. Matthew