doctype 5
html(lang="en")
  head
    title Sign Up
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="/js/signup.js")
    link(href="css/bootstrap.css",rel="stylesheet")
    link(href="css/main.css",rel="stylesheet")
    link(href="css/bootstrap-responsive.css",rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Roboto:300", rel="stylesheet", type="text/css")
  body
    div(id="background_wrap")
    div(class="container centerImg")
      div(class="logoBackground")
        div(class="logoDiv")
          img(src="/img/icon_mediscoutlogo.png")
    div(class="inputContainer")
      form(class="form-signin")
        div(class="textControls")
          div(id="searchIcon")
            img(src="/img/icon_searchlogo.png")
          div(class="searchBar")
            input(type="text",placeholder="search a procedure",id="email")
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") Gimme sum dat bone marrow
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      div(class="searchDropDown")
        div(class="searchText")
          a(href="www.google.com") I want McDonald's
        div(class="searchTextDescription")
          a(href="www.google.com")Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
    div(id="signUp")
      button(id="searchBtn",class="btn btn-large btn-primary") browse
script(src="js/bootstrap.min.js")
  
    
